node_modules
fastText-0.9.2
wiki.zh_yue.bin
test.js
wiki.zh_yue.vec
wiki.zh_yue.zip
v0.9.2.zip
filenametest.txt
testingrecursion.js
testingrecursion2.js
.env
trial.ts
lihkgdatacopy.txt

.DS_Store

cooking.stackexchange.txt
cooking.preprocessed.txt
fastText
cooking.train
cooking.valid
filenametest.txt

classification.py
newdata.txt
newdata.train
nexdata.valid
lihkgdata.bin
helentesting
sql.md

word2vec.py
test.ts
puppeteer